* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

@page {
    size: A7;
    margin-top: 10mm 10mm;
}

.receipt {
    width: 58mm;
    padding: 10px;
    border: 1px solid rgb(145, 143, 143);
    margin: 30px auto;
    text-align: center;
}

.receipt_no{
    text-align: left;
    font-size: 11px;
}

.qr-code {
    margin-bottom: 10px;
}

.receipt-header {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
}

.details {
    font-size: 11px;
    margin-bottom: 10px;
    text-align: left;
}
.details th, td {
    text-align: left;
    padding: 3px;
}

.footer {
    font-size: 10px;
    border-top: 1px dotted #000;
    padding-top: 5px;
    margin-top: 10px;
}
