* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

@page {
    size: A4 landscape; /* Set paper size to A4 landscape */
    margin: 10mm 10mm;
}

.dc-container {
    width: 100%;
    max-width: 297mm;
    background-color: #fff;
    height: auto;
    margin: auto;
    box-sizing: border-box;
}
.header {
    margin: 20px auto auto auto;
    height: auto;
    text-align: center;
    font-size: smaller;
    margin-bottom: 10px;
}

.hms-logo {
    height: 50px;
    width: 50px;
}
.date {
    font-size: smaller;
    margin: auto;
    height: auto;
    width: 93%;
    text-align: right;
    padding-bottom: 2px;
}

.dc-table {
    border: 1px solid dimgray;
    font-size: xx-small;
    margin: auto;
    height: auto;
    border-collapse: collapse;
}

.dc-table tr {
    border-bottom: 1px solid dimgray;
    text-align: center;
}
.dc-table th {
    padding: 5px 5px;
    height: 20px;
}
.dc-table td {
    padding: 5px 5px;
}

.column-left {
    border-left: 1px solid dimgray;
}

.note {
    font-size: smaller;
    margin: auto;
    height: auto;
    width: 94%;
    text-align: left;
    padding-top: 2px;
}

.footer {
    width: 93%;
    margin: 40px auto auto auto;
    height: auto;
    font-size: x-small;
}

.footer-item {
    width: 15%;
    text-align: center;
    border-top: 1px solid black;
    padding-top: 3px;
}
